BOT_DEV=true
BOT_TELEGRAM_TOKEN=TOKEN
BOT_TELEGRAM_ALLOWED_CHAT_IDS=123,456,789
BOT_DB_PATH=file:data/db.sqlite?cache=shared&mode=rwc
BOT_HTTP_CORS_ALLOW_ORIGINS=http://localhost:5173
BOT_HTTP_JWT_AUDIENCE=http://localhost:8080
BOT_HTTP_JWT_SECRET=secret
BOT_HTTP_COOKIE_DOMAIN=localhost
